<div class="row">
    <div class="col-md-2">
        <section class="d-flex justify-content-center mt-2">
            <%= link_to gravatar_for(comment.user), user_path(comment.user) %>
        </section>
    </div>
    <div class="col-md-8 card bg-light mx-3 col-11 my-2">
        <p class="mt-2"><%= comment.content%></p>
        <p>
            <span class="quiet"><small>Posted: <%= time_ago_in_words(comment.created_at) %> ago by
                                                                        <%= comment.user.name %></small></span>
        </p>
    </div>
<div>