<footer class="footer">
    <small>
        <strong><a href="https://shiroyaksha90.github.io/">Projects Development</a> </strong>
        by <em><a href="https://shiroyaksha90.github.io/">Basim Al-Jazaeri</a></em>.
        <nav>
            <ul>
                <li><%= link_to "About", '#' %></li>
            </ul>
        </nav>
    </small>
</footer>