<footer class="footer container-fluid fs-5">
    <small>
        <strong><a href="https://shiroyaksha90.github.io/">Projects Development</a> </strong>
        by <em><a href="https://shiroyaksha90.github.io/">Basim Al-Jazaeri</a></em>.
    </small>
</footer>